<% if flash.has?(:message) %>
  <p class="flash"><%= flash[:message] %></p>
<% end %>

<h2>Artists</h2>

<ul>
<% @artists.each do |artist| %>
  <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
<% end %>
</ul>
