<h2>New Artist</h2>

<form method="POST" action="/artists/new">
  <p>Name: <input type="text" name="name" autocomplete="off" required></p>

  <input type="submit" value="SUBMIT"/>
</form>

<form action="/artists">
    <input type="submit" value="CANCEL" />
</form>
