<h2>Edit Artist <%= @artist.name %></h2>

<form method="POST" action="/artists/<%= @artist.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>Name: <input type="text" name="name" value="<%= @artist.name %>" autocomplete="off" required /></p>

  <input type="submit" value="SUBMIT" />
</form>

<form action="/artists">
    <input type="submit" value="CANCEL" />
</form>

<form method="POST" action="/artists/<%= @artist.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE ARTIST"></p>
</form></p>
