<h2>Edit <%= @artist.name %></h2>

<form method="POST" action="/artists/<%= @artist.slug %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>Name: <input type="text" name="name" value="<%= @artist.name %>" autocomplete="off" required /></p>

  <input type="submit" value="SUBMIT" />
</form>

<a href="/artists"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Artist</h2>

<form method="POST" action="/artists/<%= @artist.slug %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">

  <p>Enter Password to Delete Artist: <input type="password" name="password" required /></p>
  <input type="submit" value="DELETE ARTIST"></p>
</form>
