/*////// FONTS //////*/

@import url('https://fonts.googleapis.com/css?family=VT323');

@font-face {
  font-family: Firecat;
  src: url(./FirecatMedium.ttf);
}

/*////// LAYOUT //////*/

body {
  font-size: 100%;
  background: pink;
}

* {
  outline-color: violet;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.clearfix:after {
  content:"";
  clear: both;
  display: table;
}

/*////// LINKS //////*/

a {
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: violet;
}

a:active {
  color: beige;
}

/*////// HEADINGS //////*/
header {
  padding-bottom: 5px;
}

h1 {
  font-family: Firecat;
  font-size: 3.0em;
  color: beige;
  text-shadow: 2px 2px 2px violet;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-left: 0px;
  display: block;
  max-width: 100%;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 2.4em;
  text-align: center;
  margin: 10px 0px;
  letter-spacing: normal;
}

h2.center {
  text-align: center;
}

h3 {
  font-family: 'VT323', monospace;
  font-size: 1.8em;
  margin: 10px 0 20px;
  letter-spacing: normal;
}

#logo a:link, #logo a:visited, #logo a:active, #logo a:hover {
  color: beige;
  text-decoration: none;
}

#drippy {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 2px violet);
}

/*////// NAV //////*/

nav {
  text-align: center;
  padding: 0px;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
}

nav.logged_in span {
  background-color: violet;
  padding: 6px 20px;
  margin: 0px;
  display: inline-block;
  border: 0px solid violet;
  border-radius: 4px;
  box-sizing: border-box;
}

nav.logged_in span a {
  color: black;
}

nav.logged_in span a:hover {
  color: violet;
}

nav a {
  transition: color 0.3s ease;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: black;
}

nav a:hover {
  color: violet;
}

nav a:active {
  color: beige;
}

nav a.active {
  color: violet;
  text-decoration: none;
}

nav.logged_in a:link, nav.logged_in a:visited {
}

/*////// BODY //////*/

p, li {
  font-family: 'VT323', monospace;
  font-size: 1.6em;
  color: black;
}

p.center {
  text-align: center;
}

p.flash {
  width: 100%;
  background-color: violet;
  font-family: 'VT323', monospace;
  font-size: 1.6em;
  color: beige;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

ul {
  list-style-type: square;
}

.uppercase {
  text-transform: uppercase;
}

img.icon {
  width: 36px;
}

/*////// ACCESSIBILITY //////*/

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  font-size: 0.9em;
  width:1px;
  height:1px;
  overflow:hidden;
}

#skip a:focus {
  position:absolute;
  left: 0;
  top: 0;
  background: violet;
  color: beige;
  outline: none;
  padding: 6px 10px;
  border-bottom-right-radius: 4px;
  border: none;
  transition: top .1s ease-in, background .5s linear;
  width:auto;
  height:auto;
  z-index: 100;
}

/*////// SECTIONS //////*/

section {
  margin: 0px auto;
}

footer {
  text-align: center;
  border: none;
}

footer p {
  font-size: 1.3em;
}

footer span.copyright {
  display: block;
}

#content {
  max-width: 400px;
  padding: 0px 15px;
}

/*////// TABLE //////*/

table {
  font-family: 'VT323', monospace;
  font-size: 1.6em;
  color: black;
}

td {
  vertical-align: top;
  padding: 6px 0;
  text-transform: uppercase;
}

.details {
  padding-left: 10px;
}

table a {
  transition: color 0.3s ease;
  text-decoration: none;
}

table a:link, table a:visited {
  color: black;
}

table a:hover {
  color: violet;
}

table a:active {
  color: beige;
}

/*////// FORM //////*/

input[type=text], input[type=url], input[type=password], input[type=email], input[type=date], textarea {
  width: 100%;
  background-color: beige;
  font-family: 'VT323', monospace;
  font-size: .8em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  width: 100%;
  background-color: #000;
  color: beige;
  font-family: 'VT323', monospace;
  font-size: 1.6em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-appearance: none;
}

input[type=submit]:hover {
  background-color: violet;
  -webkit-appearance: none;
}

/* DATALIST POLYFILL */

.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
	display: none !important;
}

.datalist-polyfill > li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}

.datalist-polyfill__active {
  background: #3875d7;
  color: white;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 360px) {
  body {
    font-size: 115%;
  }
  nav {
    padding: 2px 0px 0px 0px;
  }
  header {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 132%;
  }
  h1 {
    font-size: 4.0em;
  }
  nav {
    font-size: 1.6em;
    padding: 5px 0px 0px 0px;
  }
  #content {
    max-width: 550px;
    padding: 0px 20px;
  }
}

@media only screen and (min-width: 875px) {
  #content {
    max-width: 700px;
    padding: 0px 40px;
  }
}

/* TEXT SELECT */

/* Mozilla based browsers */
::-moz-selection {
  background-color: beige;
  color: violet;
}

/* Works in Safari */
::selection {
  background-color: beige;
  color: violet;
}
