<h2 class="center">Create An Account</h2>
<form method="POST" action="/signup">
  <p><label for="username">Username:</label> <input type="text" name="username" id="username" autocomplete="off" required></p>
  <p><label for="email">E-mail:</label> <input type="email" name="email" id="email" required></p>
  <p><label for="password">Password:</label> <input type="password" name="password" id="password" required></p>
  <p><label for="confirm_password">Confirm Password:</label> <input type="password" name="confirm_password" id="confirm_password" required></p>

  <input type="submit" value="SUBMIT">

</form>
