<h2>Edit User</h2>

<form method="POST" action="/settings">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>Username: <input type="text" name="username" value="<%= current_user.username %>" autocomplete="off" required /></p>

  <p>Email: <input type="email" name="email" value="<%= current_user.email %>" autocomplete="off" required /></p>

  <p>Enter Password to Make Changes: <input type="password" name="password" required /></p>

  <input type="submit" value="UPDATE" />
</form>

<p></p>

<h2>Change Password</h2>

<form method="POST" action="/password">
<input id="hidden" type="hidden" name="_method" value="patch">
  <p>Old Password: <input type="password" name="old_password" required /></p>

  <p>New Password: <input type="password" name="password" required /></p>

  <p>Confirm New Password: <input type="password" name="confirm_password" required /></p>
  <input type="submit" value="SUBMIT" />
</form>

<p></p>

<h2>Delete Account</h2>

<form method="POST" action="/users/<%= @user.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
  <p><label for="password">Enter Password to Delete User:</label> <input type="password" name="password" id="password" required /></p>

  <input type="submit" value="DELETE USER"></p>
</form></p>
