<h2>Create News</h2>

<form method="POST" action="/news/new">
  <p><label for="date">Date:</label> <input type="date" name="date" id="date" value="<%= Date.today.strftime("%Y-%m-%d") %>" required></p>
  <p><label for="contents">Content:</label> <input type="text" name="content" id="contents" autocomplete="off" required></p>
  <p><label for="url">URL:</label> <input type="url" name="url" id="url" autocomplete="off"></p>

  <input type="submit" value="SUBMIT"/>
</form>

<a href="/news"><input type="submit" value="CANCEL" /></a>
