<% if request.path_info == "/news/pending" %>
  <h2>Pending News</h2>
<% else %>
  <h2>News</h2>
<% end %>

<table>
  <tr>
  <% @news.each do |news| %>
    <td>
      <% if logged_in? %>
        <a href="/news/<%= news.id %>/edit">
      <% end %>
      <% if !news.date.nil? && !news.date.empty? %>
        <%= news.date.to_date.strftime("%m.%d") %>
      <% end %>
      </a>
    </td>

    <td class="details">
      <%= news.content %><br>
    </td>
  </tr>
  <% end %>
</table>
