<% if flash.has?(:message) %>
  <p class="flash"><%= flash[:message] %></p>
<% end %>

<h2>New Venue</h2>

<form method="POST" action="/venues/new">
  <p>Name: <input type="text" name="name" autocomplete="off" required></p>

  <input type="submit" value="SUBMIT"/>
</form>

<a href="/venues"><input type="submit" value="CANCEL" /></a>
