<h2>New Venue</h2>

<form method="POST" action="/venues/new">
  <p><label for="name">Name:</label> <input type="text" name="name" id="name" autocomplete="off" required></p>

  <input type="submit" value="SUBMIT"/>
</form>

<a href="/venues"><input type="submit" value="CANCEL" /></a>
