<h2>Edit <%= @venue.name %></h2>

<form method="POST" action="/venues/<%= @venue.slug %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>Name: <input type="text" name="name" value="<%= @venue.name %>" autocomplete="off" required /></p>

  <input type="submit" value ="UPDATE"/>
</form>

<a href="/venues"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Venue</h2>

<form method="POST" action="/venues/<%= @venue.slug %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">

  <p>Enter Password to Delete Venue: <input type="password" name="password" required /></p>
  <input type="submit" value="DELETE VENUE"></p>
</form></p>
