<h2>Shows at <%= @venue.name %></h2>

<table>
  <tr>
  <% @venue.shows.order(:date).each do |show| %>
    <td><%= show.date.to_date.strftime("%m.%d") %></td>
    <td class="details"><a href="<%= show.url %>"><%= show.artists.collect { |artist| artist.name }.join(" + ") %></a></td>
  </tr>
  <% end %>
</table>
