<h2>All Sickbay Shows Ever</h2>

<table>
  <tr>
  <% @shows.each do |show| %>
    <td><%= show.date.to_date.strftime("%m.%d.%y") %></td>
    <td class="details"><a href="<%= show.url %>"><%= show.artists.collect { |artist| artist.name }.join(" + ") %> at <%= show.venue.name %></a></td>
  </tr>
  <% end %>
</table>
