<h1>Create a New Show</h1>

<form>
  Date: <input type="text"></p>
  Choose Venue: </p>
  Create Venue: <input type="text"></p>
  Create Artists: <input type="text"></p>
  URL: <input type="url" name="url"></p>
  <input type="submit"> <a href="/">Cancel</a>
</form>
