<h1>Past Shows</h1>

<ul>
<% @archived.each do |archive| %>
  <li>
    <%= archive.date.to_date.strftime("%m-%d-%y") %> @
    <%= archive.venue.name %>:
    <a href="<%= archive.url %>"><%= archive.artists.collect { |artist| artist.name }.join(" + ") %></a>
  </li>
<% end %>
</ul>
