<h1>Upcoming Sickbay Shows</h1>

<ul>
<% @shows.each do |show| %>
  <li>
    <%= show.date %> @
    <%= show.venue.name %>:
    <a href="<%= show.url %>"><%= show.artists.collect { |artist| artist.name }.join(" + ") %></a>
  </li>
<% end %>
</ul>
