<h1>Show <%= @show.id %> Details</h1>

Date: <%= @show.date %></p>

Venue: <%= @show.venue.name %></p>

Artists:
  <% @show.artists.each do |artist| %>
    <%= artist.name %>
  <% end %></p>

URL: </p>
