<h1>Upcoming Sickbay Shows</h1>

<ul>
<% @shows.each do |show| %>
  <li>
    <%= show.date.to_date.strftime("%m-%d") %>
    <a href="<%= show.url %>"><%= show.artists.collect { |artist| artist.name }.join(" + ") %></a>
    at <%= show.venue.name %>
  </li>
<% end %>
</ul>
