<h2>Backdoor</h2>

<h3><a href="/login">Log In</a> / <a href="/signup">Sign Up</a></h3>

<h3>Shows</h3>
<ul>
  <li><a href="/shows/all">All Shows</a></li>
  <li><a href="/shows/new">Create Show</a></li>
</ul>

<h3>Artists</h3>
<ul>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/artists/new">Create Artist</a></li>
</ul>

<h3>Venues</h3>
<ul>
  <li><a href="/venues">All Venues</a></li>
  <li><a href="/venues/new">Create Venue</a></li>
</ul>
