<h2>Contact</h2>
  <p>Instagram / <a href="https://www.instagram.com/sickbay.jpg/" target="_blank">@sickbay.jpg</a></p>
  <p>Facebook / <a href="https://www.facebook.com/sickbay.mag/" target="_blank">@sickbay.mag</a></p>
