<h2>Contact</h2>
  <p>INSTAGRAM: <a href="https://www.instagram.com/sickbay.jpg/" target="_blank">@sickbay.jpg</a></p>
  <p>FACEBOOK: <a href="https://www.facebook.com/sickbay.mag/" target="_blank">@sickbay.mag</a></p>
