<h2 class="center">Contact</h2>
  <p class="center">Instagram / <a href="https://www.instagram.com/sickbay.jpg/" target="_blank">@sickbay.jpg</a></p>
  <p class="center">Facebook / <a href="https://www.facebook.com/sickbay.mag/" target="_blank">@sickbay.mag</a></p>
