<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>Sickbay - Local Alternative Music Shows in Lafayette, Louisiana</title>
</head>

<body>
  <div id="skip">
    <p><a href="#content">Skip to Main Content</a></p>
  </div>

  <header>
    <div class="wrapper">
      <div id="logo">
        <h1><a href="/">Sickbay</a></h1>
      </div>
      <nav>
        <a href="/shows" <% if request.path_info == "/shows" %> class="active" <% end %>>Shows</a>
        <a href="/shows/archive" <% if request.path_info == "/shows/archive" %> class="active" <% end %>>Archive</a>
        <a href="/contact" <% if request.path_info == "/contact" %> class="active" <% end %>>Contact</a>
        <a href="https://sickbaysounds.bandcamp.com/" target="_blank">Sounds</a>
      </nav>
      <% if logged_in? %>
      <nav class="logged_in">
        <a href="/shows/new" <% if request.path_info == "/shows/new" %> class="active" <% end %>>New Show</a>
        <a href="/dashboard" <% if request.path_info == "/dashboard" %> class="active" <% end %>>Dashboard</a>
        <a href="/logout">Log Out</a>
      </nav>
      <% end %>
    </div> <!-- .wrapper -->
  </header>

  <div class="wrapper clearfix">
    <section id="content">
      <% if flash.has?(:message) %>
        <p class="flash"><%= flash[:message] %></p>
      <% end %>

      <%= yield %>

    </section>
  </div> <!-- .wrapper .clearfix -->

  <div class="wrapper clearfix">
    <footer>
      <p>&copy; 2017 Sickbay. All Rights Reserved.</p>
    </footer>
  </div>

  <script src="<%= url('/datalist.polyfill.min.js') %>"></script>

</body>
</html>
